# Introducción práctica a la ciencia de datos en R

**Wenceslao Arroyo-Machado**

Esta es una [R Markdown](http://rmarkdown.rstudio.com) Notebook con todos los contenidos del curso [Introducción práctica a la ciencia de datos en R](https://yosigopublicando.ugr.es/courses/introduccion-practica-a-la-ciencia-de-datos-en-r/) y su [repetición](https://yosigopublicando.ugr.es/courses/introduccion-practica-a-la-ciencia-de-datos-en-r-redux/). El objetivo es introducir los procesos básicos de ciencia de datos para el procesamiento de datos (lectura, procesamiento y exportación).

# Preparación

## Paquetes

Vamos a hacer uso de dos paquetes de R: `data.table()` y `dplyr()`. Puedes importarlos a la sesión mediante la función `library()`.

In [1]:
library(data.table)
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:data.table’:

    between, first, last

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

En caso de que no tengas alguno de los paquetes puedes instalarlos rápidamente con `install.packages()` y tras ello importarlos usando la función `library()`.

In [ ]:
#install.packages('data.table')
#install.packages('dplyr')

## Datos

Para esta sesión vamos a usar un subconjunto de datos de [IMDB](https://www.imdb.com/interfaces/). Se han recuperado varios datasets y filtrado previamente a películas, cortos y videojuegos de los años 90. Los datos están disponibles en el directorio *data*.

En concreto vamos a usar tres datasets:

-   **title_basics.tsv** (96026 x 8) - dataset principal con los datos básicos de las obras
    -   *tconst* - id de la obra
    -   *titleType* - tipo de obra
    -   *primaryTitle* - título principal
    -   *originalTitle* - título original
    -   *isAdult* - contenido adulto
    -   *startYear* - año
    -   *runtimeMinutes* - duración
    -   *genres* - género/s


-   **title_ratings.tsv** (44028 x 3) - puntuaciones promedio
    -   *tconst* - id de la obra
    -   *averageRating* - puntuación promedio
    -   *numVotes*- número de votos


-   **title_akas.tsv** (371351 x 8) - traducciones de los títulos
    -   *titleId* - id de la obra
    -   *ordering* - orden
    -   *title* - título
    -   *region* - región del título
    -   *language* - idioma
    -   *types* - atributos
    -   *attributes* - términos adicionales
    -   *isOriginalTitle* - título original

# Lectura de datos

Antes de importar los datos a RStudio o cualquier otra herramienta es necesario revisar los ficheros manualmente para conocer su estructura y características. Los formatos estándar son en texto plano delimitado por comas o punto y coma (*.csv*) y tabulador (*.tsv*). Es fundamental saber:

-   **Codificación** - juego de caracteres, generalmente usarás UTF-8.
-   **Delimitador** - carácter de separación, lo normal es la coma (,), punto y coma (;) y tabulador (\\t).
-   **Calificador** - carácter que evita que en cadenas de texto donde esta presente un caracter igual al delimitador no lo reconozca como tal, lo normal son las comillas dobles (") o comillas simples (').
-   **Caractereres nulos** - cadenas de caracteres que reconocer como valores nulos.

Estos son las opciones que más problemas te pueden dar. Sin embargo existen otras como el caracter usado para los decimales, el uso o no de cabecera...

## read.table()

Existe una función base que permite importar archivos en texto plano. La función es `read.table()`. Tanto esta como otras funciones vienen con parámetros por defecto, usa `?read.table()` para conocerlos. En este caso verás que muchos vienen desactivados.

**Ejemplo:** Vamos a importar el archivo con la información básica de películas.

In [2]:
df <- read.table(file = 'data/title_basics.tsv',
                 header = TRUE, # mi archivo tiene cabecera
                 sep = '\t', # el delimitador es el tabulador
                 quote = '', # no tengo calificadores
                 na.strings = 'null', # caracteres nulos
                 comment.char = '', # no tengo comentarios
                 encoding = 'UTF-8') # codificación

Desde el IDE de RStudio puedes comprobar cómo se han importado los datos e incluso visualizarlos. Podemos usar para ello `summary()` para obtener un resumen de las variables/instancias y `head()`. para visualizar las primeras líneas del *data.frame*. Los datos son importados como *data.frame*, el cual puede ser visto como una tabla o una hoja de cálculo. Los *data.frame* cuentan con diferentes variables o columnas, pudiendo ser cada una de un tipo (texto,, número, booleano...) y existen diferentes instancias o filas.

In [3]:
summary(df)
head(df)

       tconst          titleType                          primaryTitle
 tt0015724:    1   movie    :44754   Requiem                    :   15
 tt0038086:    1   short    :26208   The Gift                   :   15
 tt0040844:    1   tvMovie  :17757   Angel                      :   11
 tt0059325:    1   tvShort  : 1106   Maria                      :   10
 tt0059900:    1   videoGame: 6201   Statsministerens nytårstale:   10
 tt0065188:    1                     Payback                    :    9
 (Other)  :96020                     (Other)                    :95956
                     originalTitle      isAdult          startYear
 Requiem                    :   15   Min.   :0.00000   Min.   :1990
 The Gift                   :   14   1st Qu.:0.00000   1st Qu.:1992
 Angel                      :   10   Median :0.00000   Median :1995
 Maria                      :   10   Mean   :0.01504   Mean   :1995
 Statsministerens nytårstale:   10   3rd Qu.:0.00000   3rd Qu.:1997
 Blind Date                 :    9   Max.   :1.00000   Max.   :1999
 (Other)                    :95958
 runtimeMinutes                 genres
 Min.   :   0.0   Short            :11211
 1st Qu.:  22.0   Documentary      :10131
 Median :  66.0   Drama            : 9893
 Mean   :  63.9   Comedy           : 4476
 3rd Qu.:  94.0   Documentary,Short: 4257
 Max.   :1500.0   (Other)          :44843
 NA's   :29186    NA's             :11215

  tconst    titleType primaryTitle
1 tt0015724 movie     Dama de noche
2 tt0038086 movie     Shiva und die Galgenblume
3 tt0040844 short     Crossroads of Laredo
4 tt0059325 movie     Born in '45
5 tt0059900 movie     Wenn du groß bist, lieber Adam
6 tt0065188 movie     Vojtech, receny sirotek
  originalTitle                  isAdult startYear runtimeMinutes
1 Dama de noche                  0       1993      102
2 Shiva und die Galgenblume      0       1993       NA
3 Crossroads of Laredo           0       1995       30
4 Jahrgang 45                    0       1990      100
5 Wenn du groß bist, lieber Adam 0       1990       78
6 Vojtech, receny sirotek        0       1990       80
  genres
1 Drama,Mystery,Romance
2 Thriller
3 Short,Western
4 Drama,Romance
5 Drama,Fantasy
6 Drama

Existen diferente variantes de `read.table()` que tomando está como base incluyen algunos parámetros concretos para importar determinados archivos de forma ágil. Estas son:

-   `read.csv()` - archivos separados por comas y con puntos por decimales.
-   `read.csv2()` - archivos separados por comas y con comas por decimales.
-   `read.delim()` - archivos separados por tabuladores y con puntos por decimales.
-   `read.delim2()` - archivos separados por tabuladores y con comas por decimales.

**Ejemplo:** El archivo anterior se puede importar directamente con `read.delim()`.

In [4]:
df <- read.delim(file = 'data/title_basics.tsv',
                 quote = '', # no tengo calificadores
                 na.strings = 'null', # caracteres nulos
                 encoding = 'UTF-8') # codificación

Como está enmascarando la función `read.table()` podemos usar los mismos argumentos que esta admite.

Otro elemento a considerar en la importación de los datos es el tipo de dato. Este formato es asignado por defecto pero puede que en ocasiones queramos cambiarlo. Podemos hacerlo desde la propia importación de datos usando el argumento *colClasses*, indicando la variable y su tipo.

**Ejemplo:** Importar el archivo anterior pero con la columnas de años como texto en lugar de números.

In [5]:
df <- read.delim(file = 'data/title_basics.tsv',
                 quote = '', # no tengo calificadores
                 na.strings = 'null', # caracteres nulos
                 encoding = 'UTF-8', # codificación
                 colClasses = c('startYear'='character')) # forzamos que los años sean texto

En línea con ello, también podemos hacer que las variables de tipo texto sean reconocidas como factores con el argumento *stringsAsFactors*. Esta opción hasta hace unos años venía activada por defecto.

**Ejemplo:** Importar el archivo anterior pero con las variables de texto como factores.

In [6]:
df <- read.delim(file = 'data/title_basics.tsv',
                 quote = '', # no tengo calificadores
                 na.strings = 'null', # caracteres nulos
                 encoding = 'UTF-8', # codificación
                 stringsAsFactors = TRUE) # texto como factores

## fread()

Existen funciones en otros paquetes que facilitan aún más este trabajo, como es el caso de `fread()` del paquete `data.table`. Esta función es más rápida y directamente reconoce el delimitador, aunque es recomendable curarse en salud e indicarlo. A grandes rasgos, los argumentos de `read.table()` también están presentes aquí, por lo que es muy fácil trabajar con esta función.

**Ejemplo:** Importar el archivo anterior con la información básica de películas con `fread()`.

In [7]:
df <- fread(file = 'data/title_basics.tsv',
            quote = '', # no tengo calificadores
            na.strings = 'null', # caracteres nulos
            encoding = 'UTF-8') # codificación

Sin embargo, hay un aspecto a tener en cuenta. Esta función por defecto importa los datos como tipo *data.table* en lugar de *data.frame*. Este formato es más ágil y avanzado, pero puedes hacer que se importe como *data.frame* con el argumento *data.table*. En nuestro caso trabajaremos con *data.frame* por ser un curso introductorio.

In [9]:
df <- fread(file = 'data/title_basics.tsv',
            quote = '', # no tengo calificadores
            na.strings = 'null', # caracteres nulos
            encoding = 'UTF-8', # codificación
            data.table = FALSE) # data.table o data.frame

# Jugando con los datos

Una vez importados los datos podemos realizar diferentes procesos con ellos para filtrarlos, combinarlos... A lo largo de esta sección trabajaremos con las opciones base de R así como con el paquete `dplyr`.

## Consideraciones previas

-   Lo habitual al realizar alguna manipulación de datos es almacenar el *data.frame* resultante en una nueva variable o sustituir la actual. Si no estás muy segura/o del resultado de la operación o crees que más adelante tendrás que volver al conjunto original crea una variable nueva.

-   En el caso de `dplyr`, es posible realizar varias operaciones consecutivas de forma ágil. Este paquete habilita el operador pipe (%\>%) que facilita este proceso. Más adelante veremos su funcionamiento.

## Ordenar filas

Una primera operación sencilla y básica es ordenar filas en base a los valores de una columna. La forma básica es a través de la función `order()`. indicando la columna y con el argumento *decreasing* si queremos ordenar de manera ascendente o descendente. Si no lo indicamos por defecto lo hace ascendente.

**Ejemplo:** Ordenar el *data.frame* por *startYear* en orden descendente.

In [10]:
df_filtrado <- df[order(df$startYear, decreasing = TRUE),]
head(df_filtrado)

      tconst    titleType primaryTitle           originalTitle      isAdult
17    tt0082473 short     The Great Barrier Reef Great Barrier Reef 0
4796  tt0104674 tvMovie   Lakota Moon            Lakota Moon        0
9423  tt0110445 movie     Making Waves           Making Waves       0
9987  tt0111068 movie     Sangharsh              Sangharsh          0
10300 tt0111427 movie     Tiden är en dröm       Tiden är en dröm   0
10897 tt0112444 movie     My Teacher's Wife      My Teacher's Wife  0
      startYear runtimeMinutes genres
17    1999       39            Documentary,Short
4796  1999       85            Western
9423  1999      105            Comedy,Fantasy
9987  1999      127            Action,Crime,Drama
10300 1999      125            Documentary,History
10897 1999       89            Comedy,Romance

En el caso de `dplyr` podemos hacerlo con la función `arrange()`. En este caso si a continuación incluimos el nombre de la variable ordenamos de manera ascendente, pero si queremos de forma descendente tenemos incluir la variable dentro de la función `desc()`. Fíjate que las variables se indican directamente sin nada más, ni siquiera comillas, esto es algo que se va a repetir en este paquete.

**Ejemplo:** Ordenar el *data.frame* por *startYear* en orden descendente con `dplyr`.

In [11]:
df_filtrado <- arrange(df, desc(startYear))
head(df_filtrado)

  tconst    titleType primaryTitle           originalTitle      isAdult
1 tt0082473 short     The Great Barrier Reef Great Barrier Reef 0
2 tt0104674 tvMovie   Lakota Moon            Lakota Moon        0
3 tt0110445 movie     Making Waves           Making Waves       0
4 tt0111068 movie     Sangharsh              Sangharsh          0
5 tt0111427 movie     Tiden är en dröm       Tiden är en dröm   0
6 tt0112444 movie     My Teacher's Wife      My Teacher's Wife  0
  startYear runtimeMinutes genres
1 1999       39            Documentary,Short
2 1999       85            Western
3 1999      105            Comedy,Fantasy
4 1999      127            Action,Crime,Drama
5 1999      125            Documentary,History
6 1999       89            Comedy,Romance

## Selección de columnas

La selección de columnas puede hacerse indicando directamente el nombre de la/s columna/s que queremos seleccionar o el índice de su posición en el *data.frame*. Es útil además para cambiar el orden de las columnas.

**Ejemplo:** Seleccionar las variables *primaryTitle* y *titleType* (en este orden).

In [12]:
df_filtrado <- df[,c('primaryTitle', 'titleType')]
df_filtrado <- df[,c(3,2)] # igual que el anterior pero con el índice
head(df_filtrado)

  primaryTitle                   titleType
1 Dama de noche                  movie
2 Shiva und die Galgenblume      movie
3 Crossroads of Laredo           short
4 Born in '45                    movie
5 Wenn du groß bist, lieber Adam movie
6 Vojtech, receny sirotek        movie

En el caso de `dplyr` podemos hacerlo con la función `select()`, indicando primero el *data.frame* a filtrar y tras ello el nombre de las diferentes variables.

**Ejemplo:** Seleccionar las variables *primaryTitle* y *titleType* (en este orden) con `dplyr`.

In [13]:
df_filtrado <- select(df, primaryTitle, titleType)
head(df_filtrado)

  primaryTitle                   titleType
1 Dama de noche                  movie
2 Shiva und die Galgenblume      movie
3 Crossroads of Laredo           short
4 Born in '45                    movie
5 Wenn du groß bist, lieber Adam movie
6 Vojtech, receny sirotek        movie

## Selección de casos

### Posición

La selección de casos puede hacerse indicando directamente el nombre de la/s fila/s (si lo tiene) o, lo más habitual, el índice de su posición en el *data.frame*.

**Ejemplo:** Seleccionar las filas de la posición 100 a la 200.

In [14]:
df_filtrado <- df[c(100:200),]
head(df_filtrado)

    tconst    titleType primaryTitle
100 tt0096154 movie     Spies Inc.
101 tt0096174 movie     Stela
102 tt0096177 movie     Still Life: The Fine Art of Murder
103 tt0096222 movie     To Miss with Love
104 tt0096254 short     That Burning Question
105 tt0096345 short     Unter Freunden
    originalTitle         isAdult startYear runtimeMinutes genres
100 Spies Inc.            0       1992      93             Adventure,Comedy
101 Stela                 0       1990      86             Drama
102 Still Life            0       1990      83             Mystery,Thriller
103 Tao xue wai zhuan     0       1992      90             Comedy,Drama
104 That Burning Question 0       1990      30             Short
105 Unter Freunden        0       1990      15             Short

En el caso de `dplyr` podemos hacerlo con la función `slice()`, indicando primero el *data.frame* y después la posición.

**Ejemplo:** Seleccionar las filas de la posición 100 a la 200 con `dplyr`.df_filtrado <- slice(df, 100:200)
head(df_filtrado)

In [15]:
df_filtrado <- slice(df, 100:200)
head(df_filtrado)

  tconst    titleType primaryTitle                       originalTitle
1 tt0096154 movie     Spies Inc.                         Spies Inc.
2 tt0096174 movie     Stela                              Stela
3 tt0096177 movie     Still Life: The Fine Art of Murder Still Life
4 tt0096222 movie     To Miss with Love                  Tao xue wai zhuan
5 tt0096254 short     That Burning Question              That Burning Question
6 tt0096345 short     Unter Freunden                     Unter Freunden
  isAdult startYear runtimeMinutes genres
1 0       1992      93             Adventure,Comedy
2 0       1990      86             Drama
3 0       1990      83             Mystery,Thriller
4 0       1992      90             Comedy,Drama
5 0       1990      30             Short
6 0       1990      15             Short

### Filtrar (lógico)

Es posible en ambos casos hacer la selección filtrando mediante criterios. De base puede hacerse con la función `which()` estableciendo criterios lógicos.

Operadores lógicos comunes:

-   **\<** - menor que
-   \> - mayor que
-   \>= - mayor o igual que
-   \<= - menor o igual que
-   ! - negación
-   == - exactamente
-   != - distinto
-   %in% - pertenece a un grupo

**Ejemplo:** Seleccionar las filas con un valor de *startYear* mayor a 1995.

In [16]:
df_filtrado <- df[which(df$startYear > 1995),]
head(df_filtrado)

     tconst    titleType primaryTitle
17   tt0082473 short     The Great Barrier Reef
47   tt0093061 movie     Funkytown
86   tt0095469 movie     Ku jia tian xia
155  tt0097066 movie     Citizen Tania
197  tt0097566 movie     Im Süden meiner Seele
1023 tt0099840 movie     In the Shadow of the Sandcastle
     originalTitle                   isAdult startYear runtimeMinutes
17   Great Barrier Reef              0       1999       39
47   Funkytown                       0       1998       82
86   Ku jia tian xia                 0       1998      102
155  Citizen Tania                   0       1997       87
197  Im Süden meiner Seele           0       1996       NA
1023 In the Shadow of the Sandcastle 0       1996       79
     genres
17   Documentary,Short
47   Documentary,Music
86   Comedy
155  Crime,Drama
197  NA
1023 Crime,Drama

**Ejemplo:** Seleccionar las filas con un valor de *startYear* entre 1995 y 1997.

In [18]:
df_filtrado <- df[which(df$startYear %in% c(1995:1997)),]
head(df_filtrado)

   tconst    titleType primaryTitle         originalTitle           isAdult
3  tt0040844 short     Crossroads of Laredo Crossroads of Laredo    0
7  tt0067460 movie     My Kingdom for...    My Kingdom For...       0
18 tt0082631 tvMovie   Short Working Day    Krótki dzien pracy      0
31 tt0089544 tvMovie   Man(n) sucht Frau    Man(n) sucht Frau       0
32 tt0090000 movie     Wet Sexes in the Sun Sexos húmedos al sol    1
76 tt0095102 movie     Fallen Couple        Les ennemis de la mafia 0
   startYear runtimeMinutes genres
3  1995      30             Short,Western
7  1995      85             Documentary,Sport
18 1995      73             Drama
31 1995      85             Comedy
32 1995      NA             Adult
76 1995      87             Thriller

En el caso de `dplyr` podemos hacerlo con la función `filter()`, indicando primero el *data.frame* y luego el criterio.

**Ejemplo:** Seleccionar las filas con un valor de *startYear* mayor a 1995 con `dplyr`.

In [19]:
df_filtrado <- filter(df, startYear > 1995)
head(df_filtrado)

  tconst    titleType primaryTitle
1 tt0082473 short     The Great Barrier Reef
2 tt0093061 movie     Funkytown
3 tt0095469 movie     Ku jia tian xia
4 tt0097066 movie     Citizen Tania
5 tt0097566 movie     Im Süden meiner Seele
6 tt0099840 movie     In the Shadow of the Sandcastle
  originalTitle                   isAdult startYear runtimeMinutes
1 Great Barrier Reef              0       1999       39
2 Funkytown                       0       1998       82
3 Ku jia tian xia                 0       1998      102
4 Citizen Tania                   0       1997       87
5 Im Süden meiner Seele           0       1996       NA
6 In the Shadow of the Sandcastle 0       1996       79
  genres
1 Documentary,Short
2 Documentary,Music
3 Comedy
4 Crime,Drama
5 NA
6 Crime,Drama

**Ejemplo:** Seleccionar las filas con un valor de *startYear* entre 1995 y 1997 con `dplyr`.

In [20]:
df_filtrado <- filter(df, startYear %in% c(1995:1997))
head(df_filtrado)

  tconst    titleType primaryTitle         originalTitle           isAdult
1 tt0040844 short     Crossroads of Laredo Crossroads of Laredo    0
2 tt0067460 movie     My Kingdom for...    My Kingdom For...       0
3 tt0082631 tvMovie   Short Working Day    Krótki dzien pracy      0
4 tt0089544 tvMovie   Man(n) sucht Frau    Man(n) sucht Frau       0
5 tt0090000 movie     Wet Sexes in the Sun Sexos húmedos al sol    1
6 tt0095102 movie     Fallen Couple        Les ennemis de la mafia 0
  startYear runtimeMinutes genres
1 1995      30             Short,Western
2 1995      85             Documentary,Sport
3 1995      73             Drama
4 1995      85             Comedy
5 1995      NA             Adult
6 1995      87             Thriller

Asimismo, podemos combinar diferentes criterios con los operadores lógicos AND y OR. De base puede usarse AND con & y OR con \|.

**Ejemplo:** Seleccionar las filas con un valor de *startYear* mayor a 1995 y con *titleTyple* movie.

In [21]:
df_filtrado <- df[which(df$startYear > 1995 & df$titleType == 'movie'),]
head(df_filtrado)

     tconst    titleType primaryTitle
47   tt0093061 movie     Funkytown
86   tt0095469 movie     Ku jia tian xia
155  tt0097066 movie     Citizen Tania
197  tt0097566 movie     Im Süden meiner Seele
1023 tt0099840 movie     In the Shadow of the Sandcastle
2875 tt0102267 movie     Lifebreath
     originalTitle                   isAdult startYear runtimeMinutes
47   Funkytown                       0       1998       82
86   Ku jia tian xia                 0       1998      102
155  Citizen Tania                   0       1997       87
197  Im Süden meiner Seele           0       1996       NA
1023 In the Shadow of the Sandcastle 0       1996       79
2875 Lifebreath                      0       1997       90
     genres
47   Documentary,Music
86   Comedy
155  Crime,Drama
197  NA
1023 Crime,Drama
2875 Drama,Romance,Thriller

En `dplyr` podemos hacer uso de AND con & o separando los criterios con comas y de OR usando directamente \|.

**Ejemplo:** Seleccionar las filas con un valor de *startYear* mayor a 1995 y con *titleTyple* movie con `dplyr`.

In [22]:
df_filtrado <- filter(df, startYear > 1995, titleType == 'movie')
head(df_filtrado)

  tconst    titleType primaryTitle
1 tt0093061 movie     Funkytown
2 tt0095469 movie     Ku jia tian xia
3 tt0097066 movie     Citizen Tania
4 tt0097566 movie     Im Süden meiner Seele
5 tt0099840 movie     In the Shadow of the Sandcastle
6 tt0102267 movie     Lifebreath
  originalTitle                   isAdult startYear runtimeMinutes
1 Funkytown                       0       1998       82
2 Ku jia tian xia                 0       1998      102
3 Citizen Tania                   0       1997       87
4 Im Süden meiner Seele           0       1996       NA
5 In the Shadow of the Sandcastle 0       1996       79
6 Lifebreath                      0       1997       90
  genres
1 Documentary,Music
2 Comedy
3 Crime,Drama
4 NA
5 Crime,Drama
6 Drama,Romance,Thriller

Un tipo de filtrado de mucha utilidad es a partir de valores nulos, para eliminar aquellas instancias que contienen en una o varias columnas valores nulos. Para ello, podemos usar la función `is.na()` junto al operador *!*.

**Ejemplo:** Seleccionar las filas que no tienen valores nulos en *genres*.

In [23]:
df_filtrado <- df[which(!is.na(df$genres)),]
head(df_filtrado)

  tconst    titleType primaryTitle
1 tt0015724 movie     Dama de noche
2 tt0038086 movie     Shiva und die Galgenblume
3 tt0040844 short     Crossroads of Laredo
4 tt0059325 movie     Born in '45
5 tt0059900 movie     Wenn du groß bist, lieber Adam
6 tt0065188 movie     Vojtech, receny sirotek
  originalTitle                  isAdult startYear runtimeMinutes
1 Dama de noche                  0       1993      102
2 Shiva und die Galgenblume      0       1993       NA
3 Crossroads of Laredo           0       1995       30
4 Jahrgang 45                    0       1990      100
5 Wenn du groß bist, lieber Adam 0       1990       78
6 Vojtech, receny sirotek        0       1990       80
  genres
1 Drama,Mystery,Romance
2 Thriller
3 Short,Western
4 Drama,Romance
5 Drama,Fantasy
6 Drama

**Ejemplo:** Seleccionar las filas que no tienen valores nulos en *genres* con `dplyr`.

In [24]:
df_filtrado <- filter(df, !is.na(genres))
head(df_filtrado)

  tconst    titleType primaryTitle
1 tt0015724 movie     Dama de noche
2 tt0038086 movie     Shiva und die Galgenblume
3 tt0040844 short     Crossroads of Laredo
4 tt0059325 movie     Born in '45
5 tt0059900 movie     Wenn du groß bist, lieber Adam
6 tt0065188 movie     Vojtech, receny sirotek
  originalTitle                  isAdult startYear runtimeMinutes
1 Dama de noche                  0       1993      102
2 Shiva und die Galgenblume      0       1993       NA
3 Crossroads of Laredo           0       1995       30
4 Jahrgang 45                    0       1990      100
5 Wenn du groß bist, lieber Adam 0       1990       78
6 Vojtech, receny sirotek        0       1990       80
  genres
1 Drama,Mystery,Romance
2 Thriller
3 Short,Western
4 Drama,Romance
5 Drama,Fantasy
6 Drama

### Filtrar (coincidencia de texto)

Es posible seleccionar aquellas filas que contienen alguna coincidencia con un texto y no solo aquellas con las que coincide el texto completo.

De base se puede hacer con la función `grepl()`. Esta función sirve para identificar aquellas instancias que cumplen un determinado patrón.

**Ejemplo:** Seleccionar las filas que contengan en *genres* Drama, sin importar si salen más géneros.

In [25]:
df_filtrado <- df[grepl('Drama', df$genres),]
head(df_filtrado)

  tconst    titleType primaryTitle
1 tt0015724 movie     Dama de noche
4 tt0059325 movie     Born in '45
5 tt0059900 movie     Wenn du groß bist, lieber Adam
6 tt0065188 movie     Vojtech, receny sirotek
8 tt0068494 movie     Domo Arigato
9 tt0075259 movie     Spy Story
  originalTitle                  isAdult startYear runtimeMinutes
1 Dama de noche                  0       1993      102
4 Jahrgang 45                    0       1990      100
5 Wenn du groß bist, lieber Adam 0       1990       78
6 Vojtech, receny sirotek        0       1990       80
8 Domo Arigato                   0       1990       91
9 Spy Story                      0       1990      103
  genres
1 Drama,Mystery,Romance
4 Drama,Romance
5 Drama,Fantasy
6 Drama
8 Drama
9 Action,Drama,Mystery

En lo referido a `dplyr`, podemos usar también la función `grepl()` a través de `filter()`.

**Ejemplo:** Seleccionar las filas que contengan en *genres* Drama, sin importar si salen más géneros con `dplyr`.

In [26]:
df_filtrado <- filter(df, grepl('Drama', genres))
head(df_filtrado)

  tconst    titleType primaryTitle
1 tt0015724 movie     Dama de noche
2 tt0059325 movie     Born in '45
3 tt0059900 movie     Wenn du groß bist, lieber Adam
4 tt0065188 movie     Vojtech, receny sirotek
5 tt0068494 movie     Domo Arigato
6 tt0075259 movie     Spy Story
  originalTitle                  isAdult startYear runtimeMinutes
1 Dama de noche                  0       1993      102
2 Jahrgang 45                    0       1990      100
3 Wenn du groß bist, lieber Adam 0       1990       78
4 Vojtech, receny sirotek        0       1990       80
5 Domo Arigato                   0       1990       91
6 Spy Story                      0       1990      103
  genres
1 Drama,Mystery,Romance
2 Drama,Romance
3 Drama,Fantasy
4 Drama
5 Drama
6 Action,Drama,Mystery

Una opción interesante y que permite `grepl()` es el uso de expresiones regulares.

**Ejemplo:** Seleccionar las filas que contengan en *primaryTitle* un número.

In [27]:
df_filtrado <- df[grepl('[0-9]', df$primaryTitle),]
head(df_filtrado)

    tconst    titleType primaryTitle
4   tt0059325 movie     Born in '45
51  tt0093210 movie     La hora 24
113 tt0096749 movie     Abatjour 2
128 tt0096845 movie     Atlantic Rhapsody - 52 myndir úr Tórshavn
144 tt0096975 short     Bravo Papa 2040
202 tt0097592 tvMovie   The Iron Butterfly 2
    originalTitle                             isAdult startYear runtimeMinutes
4   Jahrgang 45                               0       1990      100
51  La hora 24                                0       1990       98
113 Abatjour 2                                1       1990      100
128 Atlantic Rhapsody - 52 myndir úr Tórshavn 0       1990       80
144 Bravo Papa 2040                           0       1992        6
202 Dak ging 90 II - Zi mong meng tin ngaai   0       1990       NA
    genres
4   Drama,Romance
51  Drama,Fantasy
113 Crime,Mystery,Romance
128 Comedy,Drama
144 Short
202 Action,Romance

**Ejemplo:** Seleccionar las filas que contengan en *primaryTitle* un número con `dplyr`.

In [28]:
df_filtrado <- filter(df, grepl('[0-9]', primaryTitle))
head(df_filtrado)

  tconst    titleType primaryTitle
1 tt0059325 movie     Born in '45
2 tt0093210 movie     La hora 24
3 tt0096749 movie     Abatjour 2
4 tt0096845 movie     Atlantic Rhapsody - 52 myndir úr Tórshavn
5 tt0096975 short     Bravo Papa 2040
6 tt0097592 tvMovie   The Iron Butterfly 2
  originalTitle                             isAdult startYear runtimeMinutes
1 Jahrgang 45                               0       1990      100
2 La hora 24                                0       1990       98
3 Abatjour 2                                1       1990      100
4 Atlantic Rhapsody - 52 myndir úr Tórshavn 0       1990       80
5 Bravo Papa 2040                           0       1992        6
6 Dak ging 90 II - Zi mong meng tin ngaai   0       1990       NA
  genres
1 Drama,Romance
2 Drama,Fantasy
3 Crime,Mystery,Romance
4 Comedy,Drama
5 Short
6 Action,Romance

## Concatenación de operaciones

Podemos realizar simultáneamente una selección de variables y casos. La opción básica no requiere de mayores explicaciones.

**Ejemplo:** Seleccionar las filas que contengan en *genres* Comedy y las columnas *primaryTitle* y *startYear*.

In [29]:
df_filtrado <- df[grepl('Comedy', df$genres), c('primaryTitle', 'startYear')]
head(df_filtrado)

   primaryTitle                    startYear
13 Me and the Kid                  1993
23 The Buddhist Spell              1993
28 Tian di xuan men                1991
31 Man(n) sucht Frau               1995
35 Halfaouine: Boy of the Terraces 1990
40 The Scarlet Scorpion            1990

Sin embargo, como ya adelantamos, para concatenar operaciones en `dplyr` tenemos el operador pipe (%\>%). Un aspecto importante en su uso es que en primer lugar indicamos el *data.frame* y tras ello vamos encadenando funciones sin indicar en estas la variable.

**Ejemplo:** Seleccionar las filas que contengan en *genres* Comedy y las columnas *primaryTitle* y *startYear* con `dplyr`.

In [30]:
df_filtrado <- df %>%
  filter(grepl('Comedy', genres)) %>%
  select(primaryTitle, startYear)
head(df_filtrado)

  primaryTitle                    startYear
1 Me and the Kid                  1993
2 The Buddhist Spell              1993
3 Tian di xuan men                1991
4 Man(n) sucht Frau               1995
5 Halfaouine: Boy of the Terraces 1990
6 The Scarlet Scorpion            1990

## Cruzando *data.frames*

Esta es una de las operaciones clave y que en R se puede llevar a cabo de manera muy rápida y sencilla. Al cruzar diferentes datasets tenemos cuatro opciones básicas:

-   **Inner** - Se mantienen las instancias comunes, combinándose las variables de ambos datasets.
-   **Left** - Se mantienen las instancias comunes y todas las demás del dataset que se mantiene a la izquierda, combinándose las variables de ambos datasets. En el caso de las instancias no comunes, los valores de las variables nuevas aparecen como nulos.
-   **Right** - Se mantienen las instancias comunes y todas las demás del dataset que se mantiene a la derecha, combinándose las variables de ambos datasets. En el caso de las instancias no comunes, los valores de las variables nuevas aparecen como nulos.
-   **Full** - Se mantienen las instancias comunes y todas las demás, combinándose las variables de ambos datasets. En el caso de las instancias no comunes, los valores de las variables nuevas aparecen como nulos.

![Fuente: https://www.hostingplus.cl/blog/tipos-de-join-en-sql-cuales-son-los-principales/](images/joins.jpg)

Para este caso vamos a importar un nuevo dataset para cruzarlo con el ya presente. Vamos a importar los datos de votaciones.

In [31]:
df_notas <- read.delim(file = 'data/title_ratings.tsv',
                       quote = '', # no tengo calificadores
                       na.strings = 'null', # caracteres nulos
                       encoding = 'UTF-8') # codificación

df_akas <- read.delim(file = 'data/title_akas.tsv',
                      quote = '', # no tengo calificadores
                      na.strings = 'null', # caracteres nulos
                      encoding = 'UTF-8') # codificación

En lugar de usar la opción base de R vamos a optar directamente por el paquete `dplyr`, ya que está más optimizado al respecto. De este modo contamos con las funciones `inner_join()`, `left_join()`, `right_join()` y `full_join()`. En todos ellos la forma de trabajar es la misma, se indica el dataset de la izquierda, el de la derecha y la variable en común para cruzarlos.

**Ejemplo:** Combinar los datos de películas con los datos de sus respectivas notas dejando solo las películas que tienen notas con `dplyr`.

In [32]:
df_filtrado <- inner_join(x=df, y=df_notas, by='tconst')
head(df_filtrado)

Warning message:
“Column `tconst` joining character vector and factor, coercing into character vector”

  tconst    titleType primaryTitle
1 tt0015724 movie     Dama de noche
2 tt0038086 movie     Shiva und die Galgenblume
3 tt0040844 short     Crossroads of Laredo
4 tt0059325 movie     Born in '45
5 tt0059900 movie     Wenn du groß bist, lieber Adam
6 tt0065188 movie     Vojtech, receny sirotek
  originalTitle                  isAdult startYear runtimeMinutes
1 Dama de noche                  0       1993      102
2 Shiva und die Galgenblume      0       1993       NA
3 Crossroads of Laredo           0       1995       30
4 Jahrgang 45                    0       1990      100
5 Wenn du groß bist, lieber Adam 0       1990       78
6 Vojtech, receny sirotek        0       1990       80
  genres                averageRating numVotes
1 Drama,Mystery,Romance 6.1            26
2 Thriller              7.0            26
3 Short,Western         3.3           186
4 Drama,Romance         6.4           249
5 Drama,Fantasy         6.6            37
6 Drama                 6.5            36

**Ejemplo:** Combinar los datos de películas con los datos de sus respectivas notas dejando tanto las películas que tienen notas como las que no con `dplyr`.

In [33]:
df_filtrado <- left_join(x=df, y=df_notas, by='tconst')
df_filtrado <- full_join(x=df, y=df_notas, by='tconst') # no hay notas sin películas
head(df_filtrado)

Warning message:
“Column `tconst` joining character vector and factor, coercing into character vector”Warning message:
“Column `tconst` joining character vector and factor, coercing into character vector”

  tconst    titleType primaryTitle
1 tt0015724 movie     Dama de noche
2 tt0038086 movie     Shiva und die Galgenblume
3 tt0040844 short     Crossroads of Laredo
4 tt0059325 movie     Born in '45
5 tt0059900 movie     Wenn du groß bist, lieber Adam
6 tt0065188 movie     Vojtech, receny sirotek
  originalTitle                  isAdult startYear runtimeMinutes
1 Dama de noche                  0       1993      102
2 Shiva und die Galgenblume      0       1993       NA
3 Crossroads of Laredo           0       1995       30
4 Jahrgang 45                    0       1990      100
5 Wenn du groß bist, lieber Adam 0       1990       78
6 Vojtech, receny sirotek        0       1990       80
  genres                averageRating numVotes
1 Drama,Mystery,Romance 6.1            26
2 Thriller              7.0            26
3 Short,Western         3.3           186
4 Drama,Romance         6.4           249
5 Drama,Fantasy         6.6            37
6 Drama                 6.5            36

Puede darse el caso también de que la variable que utilizamos para hacer el join se llame de forma diferente en ambos datasets. Entre las alternativas posibles para sortear este contratiempo la más rápida pasa por indicarle esta asociación a la función de join que estemos usando.

**Ejemplo:** Combinar los datos de películas con los datos de sus títulos en otros idiomas dejando solo las películas con títulos traducidos con `dplyr`.

In [34]:
df_filtrado <- inner_join(x=df, y=df_akas, by=c('tconst'='titleId'))
head(df_filtrado)

Warning message:
“Column `tconst`/`titleId` joining character vector and factor, coercing into character vector”

  tconst    titleType primaryTitle              originalTitle
1 tt0015724 movie     Dama de noche             Dama de noche
2 tt0015724 movie     Dama de noche             Dama de noche
3 tt0015724 movie     Dama de noche             Dama de noche
4 tt0015724 movie     Dama de noche             Dama de noche
5 tt0038086 movie     Shiva und die Galgenblume Shiva und die Galgenblume
6 tt0038086 movie     Shiva und die Galgenblume Shiva und die Galgenblume
  isAdult startYear runtimeMinutes genres                ordering
1 0       1993      102            Drama,Mystery,Romance 1
2 0       1993      102            Drama,Mystery,Romance 2
3 0       1993      102            Drama,Mystery,Romance 3
4 0       1993      102            Drama,Mystery,Romance 4
5 0       1993       NA            Thriller              1
6 0       1993       NA            Thriller              2
  title                     region language types       attributes
1 Dama de noche             MX     NA       imdbDisplay NA
2 Dama de noche             NA     NA       original    NA
3 Éjszakai gyilkosság       HU     NA       imdbDisplay NA
4 Lady of the Night         NA     NA       NA          NA
5 Shiva und die Galgenblume DE     NA       imdbDisplay NA
6 Shiva und die Galgenblume NA     NA       original    NA
  isOriginalTitle
1 0
2 1
3 0
4 0
5 0
6 1

## Agrupando datos

Otra de las operaciones más populares es la de agregar datos. Tomando una o varias columnas podemos agregar las variables asociadas a ellas y aplicar alguna operación a estos datos agregados (recuento, suma, promedio...). Nuevamente, vamos a centrarnos en la opción que ofrece `dplyr` a través de `group_by()`. No obstante, en este caso también necesitamos usar la función `summarise()`, pues con la primera indicamos cómo agrupamos y con esta última la operación realizada sobre el resto de variables.

**Ejemplo:** Calcular el año de publicación (*startYear*) promedio de cada tipología (*titleType*) en `dplyr`.

In [35]:
df_filtrado <- df %>%
  group_by(titleType) %>%
  summarise(startYear_avg = mean(startYear))
head(df_filtrado)

  titleType startYear_avg
1 movie     1994.561
2 short     1995.407
3 tvMovie   1994.888
4 tvShort   1994.530
5 videoGame 1994.587

**Ejemplo:** Calcular el número de obras que se han publicado anualmente (*startYear*) por tipología (*titleType*) en `dplyr`.

In [36]:
df_filtrado <- df %>%
  group_by(titleType, startYear) %>%
  summarise(total = n())
head(df_filtrado)

  titleType startYear total
1 movie     1990      4842
2 movie     1991      4393
3 movie     1992      4321
4 movie     1993      4156
5 movie     1994      4125
6 movie     1995      4303

## Algunos casos prácticos

A modo de ejercicios para poner a prueba lo aprendido hasta ahora y captar mejor el potencial de estas opciones, vamos a llevar a cabo diferentes casos prácticos. Todos ellos se van a realizar en `dplyr`.

**Caso 1:** Obtener el listado con la película más votada de cada año.

In [37]:
df_filtrado <- df %>%
  inner_join(df_notas, by='tconst') %>%
  filter(titleType == 'movie') %>%
  group_by(startYear) %>%
  filter(numVotes == max(numVotes)) %>%
  select(startYear, primaryTitle, numVotes)
df_filtrado

Warning message:
“Column `tconst` joining character vector and factor, coercing into character vector”

   startYear primaryTitle             numVotes
1  1990      Goodfellas               1148796
2  1991      The Silence of the Lambs 1417722
3  1992      Reservoir Dogs           1010002
4  1993      Schindler's List         1343514
5  1994      The Shawshank Redemption 2651251
6  1995      Se7en                    1632691
7  1996      Trainspotting             684236
8  1997      Titanic                  1162341
9  1998      Saving Private Ryan      1378178
10 1999      Fight Club               2096443

**Caso 2:** Obtener el listado de las 20 películas con mayor puntuación promedio, habiéndolas votado al menos 50000 usuarios, junto al género/s.

In [38]:
df_filtrado <- df %>%
  inner_join(df_notas, by='tconst') %>%
  filter(titleType == 'movie' & numVotes >= 50000) %>%
  arrange(desc(averageRating)) %>%
  slice(1:20) %>%
  select(primaryTitle, genres, averageRating)
df_filtrado

Warning message:
“Column `tconst` joining character vector and factor, coercing into character vector”

   primaryTitle               genres                     averageRating
1  The Shawshank Redemption   Drama                      9.3
2  Schindler's List           Biography,Drama,History    9.0
3  Pulp Fiction               Crime,Drama                8.9
4  Forrest Gump               Drama,Romance              8.8
5  Fight Club                 Drama                      8.8
6  Goodfellas                 Biography,Crime,Drama      8.7
7  The Matrix                 Action,Sci-Fi              8.7
8  The Silence of the Lambs   Crime,Drama,Thriller       8.6
9  Terminator 2: Judgment Day Action,Sci-Fi              8.6
10 Se7en                      Crime,Drama,Mystery        8.6
11 Life Is Beautiful          Comedy,Drama,Romance       8.6
12 The Green Mile             Crime,Drama,Fantasy        8.6
13 Saving Private Ryan        Drama,War                  8.6
14 The Lion King              Adventure,Animation,Drama  8.5
15 Léon: The Professional     Action,Crime,Drama         8.5
16 The Usual Suspects         Crime,Drama,Mystery        8.5
17 American History X         Crime,Drama                8.5
18 Braveheart                 Biography,Drama,History    8.4
19 Princess Mononoke          Action,Adventure,Animation 8.4
20 American Beauty            Drama                      8.4

**Caso 3:** El listado anterior pero con los títulos en Español.

In [39]:
df_filtrado <- df %>%
  inner_join(df_notas, by='tconst') %>%
  filter(titleType == 'movie' & numVotes >= 50000) %>%
  arrange(desc(averageRating)) %>%
  slice(1:20) %>%
  inner_join(df_akas, by=c('tconst'='titleId')) %>%
  filter(region=='ES' & is.na(language) & is.na(attributes)) %>%
  select(title, genres, averageRating)
df_filtrado

Warning message:
“Column `tconst` joining character vector and factor, coercing into character vector”Warning message:
“Column `tconst`/`titleId` joining character vector and factor, coercing into character vector”

   title                         genres                     averageRating
1  Cadena perpetua               Drama                      9.3
2  La lista de Schindler         Biography,Drama,History    9.0
3  Pulp Fiction                  Crime,Drama                8.9
4  Forrest Gump                  Drama,Romance              8.8
5  El club de la lucha           Drama                      8.8
6  Uno de los nuestros           Biography,Crime,Drama      8.7
7  Matrix                        Action,Sci-Fi              8.7
8  El silencio de los corderos   Crime,Drama,Thriller       8.6
9  Terminator 2: El juicio final Action,Sci-Fi              8.6
10 Seven                         Crime,Drama,Mystery        8.6
11 La vida es bella              Comedy,Drama,Romance       8.6
12 La milla verde                Crime,Drama,Fantasy        8.6
13 Salvar al soldado Ryan        Drama,War                  8.6
14 El rey león                   Adventure,Animation,Drama  8.5
15 El profesional (Léon)         Action,Crime,Drama         8.5
16 Sospechosos habituales        Crime,Drama,Mystery        8.5
17 American History X            Crime,Drama                8.5
18 Braveheart                    Biography,Drama,History    8.4
19 La princesa Mononoke          Action,Adventure,Animation 8.4
20 American Beauty               Drama                      8.4

**Caso 4:** Calcular el total anual de películas de comedia valoradas por un mínimo de 1000 personas, y su valoración y duración promedio.

In [40]:
df_filtrado <- df %>%
  inner_join(df_notas, by='tconst') %>%
  filter(grepl('Comedy', genres) & titleType == 'movie' & numVotes >= 1000) %>%
  group_by(startYear)  %>%
  summarise(movies = n(), averageRating_avg = mean(averageRating), runtimeMinutes = mean(runtimeMinutes, na.rm=TRUE))
df_filtrado

Warning message:
“Column `tconst` joining character vector and factor, coercing into character vector”

   startYear movies averageRating_avg runtimeMinutes
1  1990      146    6.154795           99.71918
2  1991      155    6.289677          101.26452
3  1992      139    6.211511          102.83453
4  1993      150    6.281333          101.90667
5  1994      185    6.052973          103.01622
6  1995      157    6.237580          101.42675
7  1996      185    6.217297          102.23784
8  1997      199    6.103518          102.14573
9  1998      212    6.353774          104.88208
10 1999      230    6.191739          102.06987

**Caso 5:** Obtener el listado de los 10 videojuegos publicados entre 1995 y 1997 con mayor puntuación promedio, habiéndolos votado al menos 5000 usuarios, junto al año.

In [41]:
df_filtrado <- df %>%
  inner_join(df_notas, by='tconst') %>%
  filter(titleType == 'videoGame' & numVotes >= 5000) %>%
  arrange(desc(averageRating)) %>%
  slice(1:10) %>%
  select(primaryTitle, startYear, averageRating)
df_filtrado

Warning message:
“Column `tconst` joining character vector and factor, coercing into character vector”

   primaryTitle                         startYear averageRating
1  Metal Gear Solid                     1998      9.6
2  The Legend of Zelda: Ocarina of Time 1998      9.6
3  Final Fantasy VII                    1997      9.5
4  StarCraft                            1998      9.2
5  Half-Life                            1998      9.2
6  Resident Evil 2                      1998      9.1
7  Super Mario 64                       1996      9.1
8  GoldenEye 007                        1997      9.1
9  Silent Hill                          1999      9.0
10 Resident Evil                        1996      8.9

# Exportar

En última instancia, llega el turno de exportar los datos. Nuevamente contamos con la opción base y la ofrecida por el paquete `data.table`.

De base tenemos la función `write.table()`, que es la general y exporta por defecto en formato separado por tabuladores, y sus versiones derivadas que los hacen en separado por comas `write.csv()` y `write.csv2()`. Se trata de un proceso muy parecido al de lectura, donde debemos dejar claro el formato del archivo para garantizar que este sea después utilizable.

**Ejemplo:** Exportar el *data.frame* del último caso práctico separado por tabuladores.

In [42]:
write.table(df_filtrado, # data.frame a exportar
            'results/archivo_exportado.tsv', # ruta y nombre de archivo
            quote = FALSE, # en este caso no quiero ya que no necesito
            fileEncoding = 'UTF-8', # codificación
            row.names = FALSE) # omito los nombres/indices de filas

**Ejemplo:** Exportar el *data.frame* del último caso práctico separado por comas.

In [43]:
write.csv(df_filtrado, # data.frame a exportar
          'results/archivo_exportado.csv', # ruta y nombre de archivo
          fileEncoding = 'UTF-8', # codificación
          row.names = FALSE) # omito los nombres/indices de filas

Con `data.table` el proceso se realiza con la función `fwrite()` y es igual de sencillo. Por defecto utiliza el calificador cuando detecta que es necesario, y usa de separador las comas.

In [44]:
fwrite(df_filtrado, # data.frame a exportar
       'results/archivo_exportado.csv') # ruta y nombre de archivo